nav{
	width:100%;
	display:block;
	border:1px solid #999;
	background:#aaa;
	color:#666;
}

nav a{
	display:inline-block;
	height:1.2em;
	padding:.2em;
	font-family:Arial;
	font-size:1.2em;
	text-decoration:none;
	text-transform:uppercase;
	color:#666;
}

nav a:hover{
	color:#888;
	background-color:#444;
}